<div class="well well-lg">
  <button class="btn btn-default btn-lg">Sign In</button>
  <button class="btn btn-danger btn-lg">Sign Up</button>
</div>

<footer>
  <h4><a>Contact Us</a></h4>
  <h4><a>About</a></h4>
</footer>
