/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

$main-color: #3390EA;
$background-color: #F3F6F8;

 body {
   background-color: $background-color;
   font-family: 'Helvetica Neue', sans-serif;
}

h3 {
  text-align: center;
}

.search {
  border-radius: 15px;
  padding: 15px;
  background-color: $background-color;
  width: 100px;
}

.btn {
  border-radius: 4px;
  padding: 6px 10px;
}

.well {
  width: 860px;
  height: 360px;
  margin: auto;
  background-color: transparent;
}

.form-group {
  .search {
    width: 250px;
  }
}

.container .profile-image {
  height: 95px;
  width: 125px;
}

.navbar-inverse {
  border-radius: 0;
  border-color: $background-color;
  background-color: white;
  .fa-twitter {
    font-size: 28px;
    color: $main-color;
    position: relative;
    left: 20px;
  }

  #birdy:hover {
    font-size: 30px;
    color: $main-color;
  }

  .btn-lg{
    background-color: $main-color;
    position: relative;
    top: 5px;
    padding: 4px 13px;
  }

  .navbar-nav li:hover {
    color: $main-color;
  }
}
